<h2>Home</h2>

<h3>Add a shoe shop</h3>
<form class="" action="/index/shop/new" method="post">
  <label for="name">Shop Name</label>
  <input type="text" name="name" placeholder="eg classic">
  <button type="submit" name="button">Add</button>
</form>

<h3>Add a shoe brand</h3>
<form class="" action="/index/shoe/new" method="post">
  <label for="name">Shoe Brand Name</label>
  <input type="text" name="name" placeholder="eg Yeezy">
  <button type="submit" name="button">Add</button>
</form>


<hr>

<h2>Listed shops</h2>
<%if @shops.any?() %>
<ul>
  <%@shops.each do |shop|%>
  <a href="/shop/<%= shop.id%>">
    <li><%= shop.name%></li>
  </a>
  <%end%>
</ul>
<% else %>
<p>No shops in the system yet</p>
<% end %>

<h3>Available Shoe brands</h3>
<ul>
  <%if @shoes.any?() %>
  <ul>
    <%@shoes.each do |shoe|%>
  <a href="/shoe/ <%= shoe.id %>">
      <li><%= shoe.name%></li>
  </a>
    <%end%>
  </ul>
  <%else%>
  <p>No shoes available</p>
  <%end%>
