<h2>Home</h2>

<h3>Add a shoe store</h3>
<form class="" action="index.html" method="post">
  <label for="name">Store Name</label>
  <input type="text" name="name" placeholder="eg classic">
  <button type="submit" name="button">Add</button>
</form>

<h3>Add a shoe brand</h3>
<form class="" action="index.html" method="post">
  <label for="name">Shoe Brand Name</label>
  <input type="text" name="name" placeholder="eg Yeezy">
  <button type="submit" name="button">Add</button>
</form>

<hr>

<h2>Listed stores</h2>
<%if @stores.any?() %>
<ul>
  <%@stores.each do |store|%>
  <li><%= store.name%></li>
  <%end%>
</ul>
<% else %>
<p>No stores in the system yet</p>
<% end %>

<h3>Available Shoe brands</h3>
<ul>
  <%if @shoes.any?() %>
  <ul>
    <%@shoes.each do |shoe|%>
    <li><%= shoe.name%></li>
    <%end%>
  </ul>
  <%else%>
  <p>No shoes available</p>
  <%end%>
